.cart {
    position: fixed;
    top: 5px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    text-align: center; /* Centra el contenido */
}

.cart .item-count {
    font-size: 18px; /* Tamaño del texto del conteo */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: -15px; /* Espaciado inferior para separar del ícono */
    color: #F14A00;
}

.cart p {
    margin: -5px 0; /* Espaciado entre los párrafos */
}

.cart a {
    text-decoration: none; /* Sin subrayado en el enlace */
    color: #333; /* Color del texto del enlace */
    font-weight: bold; /* Texto en negrita */
}

.cart a:hover {
    color: #007bff; /* Color del enlace al pasar el mouse */
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

.cart i {
    font-size: 25px; /* Tamaño del ícono */
    margin-top: 5px; /* Espaciado superior para el ícono */
}